openapi: 3.0.1
info:
  contact:
    name: Treezor
    url: https://treezor.com
  description: |
    As a REST API, Treezor accepts and returns JSON payloads, along with the associated `application/json` content type.

    You can learn everything you need to know about authentication, credentials, data formats, and more in the [API Basics](/guide/api-basics/environments.html) section.

    Like the rest of the documentation, this reference focuses on the latest version of the Treezor API (Connect).
  title: Treezor API
  version: 25.04.03
servers:
- url: https://baseURL.co
- description: Sandbox environment
  url: https://your-company-name.sandbox.treezor.co
- description: Production environment
  url: https://your-company-name.api.treezor.com
tags:
- description: |
    The Account Details object corresponds to the bank details of the Wallet, with all the relevant information such as the IBAN and the owner's identity.

    _Related articles: [Account Details](/guide/wallets/account-details.html) | [Wallets](/guide/wallets/introduction.html)_
  name: Account Details
- description: "The Account Statement object synthesizes all operations affecting\
    \ the [Balance](/guide/overview/glossary#balance) of a [Wallet](/guide/wallets/introduction.html)\
    \ for a given month. It also provides the Balance at the start and end of that\
    \ month, the sum of debits, and the sum of credits. \n\n_Related articles: [Account\
    \ Statements](/guide/wallets/account-statements.html) | [Wallets](/guide/wallets/introduction.html)_\n"
  name: Account Statements
- description: "Card Acquiring consists of capturing funds from a third-party card\
    \ to credit a Treezor [Wallet](/guide/wallets/introduction.html). \n\n_Related\
    \ articles: [Card Acquiring](/guide/acquiring/introduction.html)_\n"
  name: Acquiring (Card Topups)
- description: |
    Dedicated set of endpoints so emulate card acquiring payins, and the related notifications.

    _Related articles: [Card Acquiring](/guide/acquiring/introduction.html) | [Emulation](/guide/acquiring/faking-operations.html)_
  name: Acquiring (Simulation)
- description: |
    Treezor offers a series of templates to customize emails and files, that you can manage via dedicated endpoints. Please bear in mind templates are base64-encoded files.

    _Related articles: [Templates](/guide/api-basics/templates.html) | [Email Templates](/guide/api-basics/emails.html#templates)_
  name: API Templates
- description: |
    Treezor leverages the [OAuth2 framework](https://en.wikipedia.org/wiki/OAuth) and [JSON Web Token (JWT)](/guide/overview/glossary.html#json-web-token-jwt) which allows for a wide range of authentication flows.

    The obtained Bearer access token can then be used in the Authorization headers to authenticate your calls to the Treezor API.

    _Related articles: [Authentication](/guide/api-basics/authentication.html)_
  name: Authentication
- description: |
    The Balance object provides the amount available on a given Wallet. Read more about the different kind of balances in the [Balance definition](/guide/overview/glossary.html#balance) of the Glossary.

    _Related articles: [Balances](/guide/wallets/balances.html) | [Wallets](/guide/wallets/introduction.html)_
  name: Balances
- description: "The Beneficiary object represents a bank account that is outside of\
    \ your Treezor ecosystem (as opposed to [Wallets](/guide/dashboard/wallets.html#wallets)).\
    \ \n\nThey are therefore the target of payouts (SEPA Direct Debit and SEPA Credit\
    \ Transfers), and are necessarily attached to a User.\n\n_Related articles: [Beneficiaries](/guide/transfers/beneficiaries.html)\
    \ | [SEPA Transfers](/guide/transfers/introduction.html)_\n"
  name: Beneficiaries
- description: |
    Treezor provides dedicated endpoints to help you check information regarding a legal entity, provided you have its VAT or registration number.

    _Related articles: [Checking for veracity](/guide/users/legal-entity.html#checking-for-veracity) | [Legal Entities](/guide/users/legal-entity.html)_
  name: Businesses
- description: |
    The Card object represents a Physical or Virtual Card issued with Treezor services.

    Following your [Card Program](/guide/cards/introduction.html#card-program) and your agreement with Treezor, you can issue, manage, and configure cards with options, restrictions, and limits to best suit your use case.

    _Related articles: [Cards](/guide/cards/introduction.html) | [Creation](/guide/cards/creation.html) | [Modifications](/guide/cards/modification.html) | [Restrictions & limits](/guide/cards/restrictions-limits.html)_
  name: Cards
- description: |
    Treezor allows you to create cards in bulk with a dedicated set of endpoints.

    _Related articles: [Bulk Creation](/guide/cards/creation.html#bulk-creation) | [Cards](/guide/cards/introduction.html)_
  name: Cards Bulk Creation
- description: |
    **Deprecated** – See [Digitized Cards](/api-reference/api-endpoints.html#tag/Digitized%20Cards/tavRequestPOST) instead.
  name: Cards Digitalization
- description: "When eligible to SCA, most card transactions must be authenticated,\
    \ hence ensuring the legitimate cardholder is initiating the transaction. \n\n\
    For the authentication step to be SCA-compliant, you must enroll the card for\
    \ out of band authentication.\n\n_Related articles: [Card enrollment](/guide/strong-customer-authentication/securing-endpoints.html#sca-for-card-transactions)\
    \ | [SCA](/guide/strong-customer-authentication/introduction.html)_\n"
  name: Card 3DSecure Enrollment (SCA)
- description: |
    The Ruleset object of the Multi-Criteria Dynamic Card rules engine allows you to authorize or refuse a Card Transaction based on your own set of rules.

    _Related articles: [Multi-Criteria Dynamic Card](/guide/cards/transactions-rules-engine.html)_
  name: Card Rulesets (MDC)
- description: |
    The Card Transaction object represents a step of a card payment made with a Treezor-issued Card (e.g., authorization, settlement, or refund).

    Card Transactions relating to the same payment (or payment attempt) have the same `paymentId` value.

    _Related articles: [Card Transactions](/guide/cards/transactions.html) | [Transactions life cycle](/guide/cards/transactions-lifecycle.html) | [Transaction examples](/guide/cards/transactions-examples.html)_
  name: Card Transactions
- description: |
    The Country Restriction Group object is a whitelist or blacklist of countries. These lists allow you to specify if a given card should be used in specific countries (or forbidden in some countries).

    _Related articles: [List-based restrictions](/guide/cards/restrictions-limits.html#country-restrictions) | [Cards](/guide/cards/introduction.html)_
  name: Country Restriction Groups
- description: |
    The digitization of a Card is the act of tokenizing an existing Card and store it in a Google Pay, Apple Pay, or Samsung Pay wallet.

    _Related articles: [X-Pay](/guide/cards/x-pay-google-apple.html) | [Cards](/guide/cards/introduction.html)_
  name: Digitized Cards
- description: "The Mandate object represents the formal document allowing a [Legal\
    \ Entity](/guide/users/legal-entity.html) to initiate a transfer of funds from\
    \ somebody else's account, to theirs. \n\nThe transfer is made using [SEPA Direct\
    \ Debit (SDDE)](direct-debit#emitted-direct-debits-sdde) and can be used to receive\
    \ one-time or recurring payments.\n\n_Related articles: [Mandates](/guide/transfers/mandates.html)\
    \ | [SEPA Direct Debit](/guide/transfers/direct-debit.html#emitted-direct-debits-sdde)_\n"
  name: Mandates
- description: |
    The MCC List of the Multi-Criteria Dynamic Card rules engine allows you to predefine and manage lists of [Merchant Category Codes (MDCC)](/guide/overview/glossary.html#merchant-category-code-mcc) that you can then add to your Rulesets.

    _Related articles: [Multi-Criteria Dynamic Card](/guide/cards/transactions-rules-engine.html)_
  name: MCC Lists (MDC)
- description: |
    The MMC Restriction Group object represents a list-based restriction allowing you to limit the usage of the card to specific categories of merchants.

    _Related articles: [List-based restrictions](/guide/cards/restrictions-limits.html#mcc-restrictions) | [Cards](/guide/cards/introduction.html)_
  name: MCC Restriction Groups
- description: |
    The MID Restriction Group object is a list-based restriction allowing you to limit the usage of the card to specific merchants.

    _Related articles: [List-based restrictions](/guide/cards/modification.html#list-based-restrictions) | [Cards](/guide/cards/introduction.html)_
  name: Merchant ID Restriction Groups
- description: "In some cases, the [Merchant Id (MID)](/guide/overview/glossary.html#merchant-identification-number-mid)\
    \ may not be up-to-date or the given information not enough for you to act on\
    \ it. \n\nTreezor offers endpoints to add metadata to MIDs, hence allowing you\
    \ to add human-readable information as you see fit.\n\n_Related articles: [MID\
    \ Metadata](/guide/cards/restrictions-limits.html#mid-restrictions) | [Cards](/guide/cards/introduction.html)_\n"
  name: Merchant ID Metadata
- description: |
    The MID List of the Multi-Criteria Dynamic Card rules engine allows you to predefine and manage lists of [Merchant IDs (MID)](/guide/overview/glossary.html#merchant-identification-number-mid) that you can then add to your Rulesets.

    _Related articles: [Multi-Criteria Dynamic Card](/guide/cards/transactions-rules-engine.html)_
  name: MID Lists (MDC)
- description: "The Operation object represents for banking operations originating\
    \ from or targeting a [Wallet](/guide/wallets/introduction.html) (i.e., Card Transactions,\
    \ Payins, Payouts, and Transfers) and their refunds. \n\nEach Operation summarizes\
    \ the initial transaction with read-only information such as the nature, status,\
    \ amount, origin, and destination.\n\n_Related articles: [Operations](/guide/operations/introduction.html)_\n"
  name: Operations
- description: |
    The Payin object represents a movement of fund from an external account to a Treezor Wallet, and thus regardless of the means of payment used (SEPA Transfers, Checks, Card Top-ups).

    _Related articles: [SCTR](/guide/transfers/credit-transfer.html#received-credit-transfers-sctr) | [SDDE](/guide/transfers/direct-debit.html#emitted-direct-debits-sdde) | [Card top-up](/guide/acquiring/introduction.html) | [Check](/guide/cheques/introduction.html)_
  name: Payins
- description: |
    The Payin Refund object represents the reimbursement of a Payin.

    Related articles: [SCTR Recalls](/guide/transfers/sepa-recalls.html#receiving-sctr-recalls)
  name: Payin Refunds
- description: |
    The Payout object represents a movement of funds from a Treezor Wallet to an external account, specifically the ones made through SEPA Transfers.

    _Related articles: [Card Transactions](/guide/cards/transactions.html) | [SCTE](/guide/transfers/credit-transfer.html#emitted-credit-transfers-scte) | [SDDR](/guide/transfers/direct-debit.html#received-direct-debits-sddr)_
  name: Payouts
- description: "The Payout Refund object represents the reimbursement of a Payout.\
    \ \n\n_Related articles: [SCTE Inst Recalls](/guide/transfers/sepa-recalls.html#emitting-scte-inst-recalls)_\n"
  name: Payout Refunds
- description: |
    Recalls occur when the originator of a [SEPA Credit Transfer (SCT)](/guide/overview/glossary.html#sepa-credit-transfer-sct) ask to reverse the transfer.

    Treezor offers endpoints to generate these requests or answers them depending on the type of the initial transfer.

    _Related articles: [Recalls & RROs](/guide/transfers/sepa-recalls.html)_
  name: Recalls
- description: "Scheduled Payment orders allow you to plan a payment execution in\
    \ the future, whether it is a unique operation or recurring ones. \n\nScheduled\
    \ Payments can be used for both [Payouts (SCTE)](/guide/transfers/credit-transfer.html#emitted-credit-transfers-scte)\
    \ and [Wallet-to-Wallet Transfers](/guide/wallets/wallet-to-wallet.html#wallet-to-wallet-transfers).\n\
    \n_Related articles: [Scheduled Payments](/guide/transfers/scheduled-payments.html)\
    \ | [SCTE](/guide/transfers/credit-transfer.html#emitted-credit-transfers-scte)\
    \ | [Wallet-to-Wallet](/guide/transfers/wallet-to-wallet.html)_\n"
  name: Scheduled Payments
- description: |
    The SCA Wallet object represents the secure enclave locally present on a device, which contains the private key for Strong Customer Authentication.

    _Related articles: [SCA Wallets](/guide/strong-customer-authentication/introduction.html#sca-wallet-object) | [SCA](/guide/strong-customer-authentication/introduction.html)_
  name: SCA
- description: |
    The External Operation object represents any end user sensitive action that you need to declare when eligible to Strong Customer Authentication.

    When applying SCA outside of Treezor services, you're legally required to declare these actions to Treezor. Treezor then uses these declarations for reporting to the regulator.

    _Related articles: [SCA External Operations](/guide/strong-customer-authentication/securing-endpoints.html#declaring-sca-external-operations) | [SCA](/guide/strong-customer-authentication/introduction.html)_
  name: SCA External Operations
- description: "You can generate fake SCA proofs in Sandbox for testing your strong\
    \ customer authentication integration. \n\n_Related articles: [SCA Proof Simulation](/guide/strong-customer-authentication/faking-operations.html#simulate-sca-proof)\
    \ | [SCA](/guide/strong-customer-authentication/introduction.html)_\n"
  name: SCA Proof Simulation
- description: |
    Support Users represent your employees, with specific access to your back office and/or the [Dashboard](/guide/dashboard/introduction.html) to manage your end users.

    Contrary to end users, Support Users don't have [Wallets](/guide/wallets/introduction.html), [Cards](/guide/cards/introduction.html), and cannot initiate of funds related operations.

    _Related articles: [Support Users](/guide/users/support.html) | [Dashboard Users](/guide/dashboard/dashboard-users.html)_
  name: Support Users
- description: |
    Transactions are a read-only representation of banking operations on a [Wallet](./introduction).

    If you are using [Treezor Connect](/guide/overview/getting-started.html#treezor-api), the [Operations](/guide/operations/introduction.html) endpoint supersedes this one.

    _Related articles: [Transactions](/guide/wallets/transactions.html) | [Wallets](/guide/wallets/introduction.html)_
  name: Transactions
- description: |
    The Transfer object represents a movement of funds from one Treezor Wallet to another.

    Both Wallets must belong to the same Treezor environment in order to perform a Wallet-to-Wallet Transfer (also referred to as peer-to-peer or P2P).

    _Related articles: [Wallet-to-Wallet](/guide/transfers/wallet-to-wallet.html) | [Wallets](/guide/wallets/introduction.html)_
  name: Transfers
- description: "Dedicated set of endpoints for uploading documents to Treezor with\
    \ a built-in pre-validation process.\n\n* Users upload files through pre-signed\
    \ forms. \n* These files are stored on dedicated servers while your teams review\
    \ them. \n* The actual Document objects are created in the Treezor API once the\
    \ files are validated.\n\n_Related articles: [Document Pre-review](/guide/user-verification/documents-prereview.html)\
    \ | [User verification](/guide/user-verification/introduction.html)_\n"
  name: User Document Pre-review
- description: "Documents are evidence required by Treezor to ensure Users are who\
    \ they claim to be.\n\nDuring the KYC/B review, Treezor compares documents to\
    \ the user’s declarative data. \nThe user is verified if the documents are in\
    \ order (as well as any other verification requirement).\n\n_Related articles:\
    \ [Documents](/guide/user-verification/documents.html) | [User verification](/guide/user-verification/introduction.html)_\n"
  name: User Documents
- description: |
    Treezor is legally obligated to verify the identity of the users using its services, whether it's you as a company or your end users.

    Once you've provided all the relevant information regarding a user, you may request the KYC Review, so that Treezor's team can either validate or refuse the user.

    _Related articles: [KYC Request](/guide/user-verification/kyc-request.html) | [User verification](/guide/user-verification/introduction.html)_
  name: User KYC Review
- description: "All users (both physical users and legal entities) going through the\
    \ KYC verification process must declare at least one country of tax residency.\
    \ \n\nThis is an obligation enforced by the [CRS](/guide/overview/glossary.html#common-reporting-standard-crs)\
    \ and [FATCA](/guide/overview/glossary.html#foreign-account-tax-compliance-act-fatca).\n\
    \n_Related articles: [Tax residence](/guide/user-verification/tax-residence.html)\
    \ | [User verification](/guide/user-verification/introduction.html)_\n"
  name: User Tax Residences
- description: |
    The User object usually represents your customers, also referred to as end users. They can either be physical users or legal entities.

    _Related articles: [Physical Users](/guide/users/physical.html) | [Legal Entities](/guide/users/legal-entity.html) | [Users](https://docs.treezor.com/guide/users/introduction.html)_
  name: Users
- description: "Treezor relies on several verification solutions to ease the physical\
    \ user verification process. \n\nThe solutions available to you depend on the\
    \ type of user and the distribution country.\n\n_Related articles: [User verification](/guide/user-verification/introduction.html)_\n"
  name: Verification Solutions (KYC)
- description: |
    In addition to the automatically assigned IBAN, Virtual IBANs can be created. Wallets can have as many Virtual IBANs as you see fit, to answer a large variety of use cases.

    _Related articles: [IBAN](/guide/wallets/iban.html) | [Wallets](/guide/wallets/introduction.html)_
  name: Virtual IBANs
- description: "The Wallet object is like an account holding funds. They are necessary\
    \ for any type of transaction in the Treezor environment.\n\nWallets are usually\
    \  attached to your end users, allowing for the setup of their means of payment\
    \ (cards, transfers, etc.). \nTreezor offers various types of wallets to adapt\
    \ to multiple use cases and technical architectures while remaining compliant\
    \ in a highly regulated context.\n\n_Related articles: [Wallets](/guide/wallets/introduction.html)_\n"
  name: Wallets
paths:
  /core-connect/account-details/{walletId}/raw:
    get:
      description: |
        Retrieve the necessary data (JSON) to generate the Account Details of a given Wallet.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: getRawWalletAccountDetail
      parameters:
      - description: The unique identifier of the Wallet.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawWalletAccountDetail_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get JSON Account Details
      tags:
      - Account Details
      x-accepts:
      - application/json
  /core-connect/account-details/{walletId}/computed:
    get:
      description: |
        Retrieve a Wallet RIB and IBAN in PDF format.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: getComputedWalletAccountDetail
      parameters:
      - description: The unique identifier of the Wallet.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getComputedWalletAccountDetail_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get PDF Account Details
      tags:
      - Account Details
      x-accepts:
      - application/json
  /oauth/token:
    post:
      description: |
        Exchange authorization codes or refresh tokens for access tokens.
        The response will include the access token and optionally a refresh token, along with their expiration details.
      operationId: postAuth
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/postAuth_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postAuth_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security: []
      summary: Obtain Access Token
      tags:
      - Authentication
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /core-connect/balances/{walletId}:
    get:
      description: Retrieve the Balance History of a Wallet.
      operationId: getWalletBalanceHistory
      parameters:
      - description: The unique identifier of the Wallet.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: Start date in RFC 3339 full-date format.
        explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          example: 2024-12-01
          format: RFC 3339 full-date
          type: string
        style: form
      - description: End date in RFC 3339 full-date format.
        explode: true
        in: query
        name: dateTo
        required: false
        schema:
          example: 2025-02-10
          format: full-date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/getWalletBalanceHistory_200_response_value'
                example:
                  "2025-01-09 11:46:44":
                    solde: 101.25
                    authorizedBalance: 80
                    currency: EUR
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get Wallet Balance history
      tags:
      - Balances
      x-accepts:
      - application/json
  /core-connect/cardtransactions:
    get:
      description: Retrieve all the Card Transactions. This is the preferred request
        for a dashboard-oriented approach. You shouldn't expose this endpoint to your
        end users.
      operationId: getCoCardTransactions
      parameters:
      - description: "Pagination cursor, if you don't pass a cursor, result will start\
          \ at the first page."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          example: da4b9237bacccdf19c0760cab7aec4a8359010b0
          type: string
        style: form
      - description: |
          The date and time from which the transactions are taken into account in RFC 339 date-time format (HTML encoded).
        explode: true
        in: query
        name: createdDateFrom
        required: false
        schema:
          example: 2025-01-18T11:00:00%2B01:00
          format: RFC 3339 date-time
          type: string
        style: form
      - description: |
          The date and time up to which the transactions are taken into account in RFC 339 date-time format (HTML encoded).
        explode: true
        in: query
        name: createdDateTo
        required: false
        schema:
          example: 2025-04-18T11:00:00%2B01:00
          format: RFC 3339 date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCoCardTransactions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - admin
      summary: Get all Card Transactions
      tags:
      - Card Transactions
      x-accepts:
      - application/json
  /core-connect/cardtransactions/{cardId}:
    get:
      description: Retrieve the Card Transactions for a specific card. This request
        is preferred for a dashboard-oriented usage. You shouldn't expose this endpoint
        to your end users.
      operationId: getCoCardTransaction
      parameters:
      - description: The unique identifier of the card.
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      - description: "Pagination cursor, if you don't pass a cursor, result will start\
          \ at the first page."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          example: da4b9237bacccdf19c0760cab7aec4a8359010b0
          type: string
        style: form
      - description: The date and time from which the transactions are taken into
          account in RFC 339 date-time format (HTML encoded).
        explode: true
        in: query
        name: createdDateFrom
        required: false
        schema:
          example: 2025-04-18T11:00:00%2B01:00
          format: RFC 3339 date-time
          type: string
        style: form
      - description: The date and time up to which the transactions are taken into
          account in RFC 339 date-time format (HTML encoded).
        explode: true
        in: query
        name: createdDateTo
        required: false
        schema:
          example: 2025-04-18T11:00:00%2B01:00
          format: RFC 3339 date-time
          type: string
        style: form
      - description: The minimum amount of the transactions to be taken into account.
        explode: true
        in: query
        name: amountFrom
        required: false
        schema:
          example: 10.25
          format: float
          type: number
        style: form
      - description: The maximum amount of the transactions to be taken into account.
        explode: true
        in: query
        name: amountTo
        required: false
        schema:
          example: 100.25
          format: float
          type: number
        style: form
      - explode: true
        in: query
        name: paymentStatus
        required: false
        schema:
          items:
            enum:
            - A
            - C
            - I
            - M
            - R
            - S
            - V
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: paymentType
        required: false
        schema:
          items:
            enum:
            - Payment
            - Withdrawal
            type: string
          type: array
        style: form
      - description: |
          The unique identifier of the merchant. See [Merchant Identification Number (MID)](/guide/overview/glossary.html#merchant-identification-number-mid).
        explode: true
        in: query
        name: merchantId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCoCardTransactions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get Card Transactions
      tags:
      - Card Transactions
      x-accepts:
      - application/json
  /core-connect/support-user:
    get:
      description: Retrieve all the Support Users.
      operationId: getAllSupportUser
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportUserObject'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - support_user_management
      summary: Get all Support Users
      tags:
      - Support Users
      x-accepts:
      - application/json
    post:
      description: Create a new Support User.
      operationId: createSupportUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSupportUser_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportUserObject'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - support_user_management
      summary: Create Support User
      tags:
      - Support Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/support-user/{supportUserId}:
    delete:
      description: Delete a Support User
      operationId: deleteSupportUser
      parameters:
      - description: The unique identifier of the Support User.
        explode: false
        in: path
        name: supportUserId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "204":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - support_user_management
      summary: Delete Support User
      tags:
      - Support Users
      x-accepts:
      - application/json
    get:
      description: Retrieve a Support User based on its `id`.
      operationId: findOneSupportUserById
      parameters:
      - description: The unique identifier of the Support User.
        explode: false
        in: path
        name: supportUserId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportUserObject'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - support_user_management
        - read_only
      summary: Get Support User
      tags:
      - Support Users
      x-accepts:
      - application/json
    put:
      description: Modify a Support User information.
      operationId: updateSupportUser
      parameters:
      - description: The unique identifier of the Support User.
        explode: false
        in: path
        name: supportUserId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSupportUser_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportUserObject'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - support_user_management
      summary: Update Support User
      tags:
      - Support Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/support-user/{supportUserId}/unblock:
    put:
      description: Unblock a Support User. Support Users may be blocked if they failed
        to login 3 times in a row.
      operationId: unblockSupportUser
      parameters:
      - description: The unique identifier of the Support User.
        explode: false
        in: path
        name: supportUserId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "204":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - support_user_management
      summary: Unblock Support User
      tags:
      - Support Users
      x-accepts:
      - application/json
  /core-connect/mid/metadata:
    get:
      description: Retrieve all MID metadata.
      operationId: getAllMidMetadata
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
      security:
      - OAuth2:
        - admin
      summary: Get all MID metadata
      tags:
      - Merchant ID Metadata
      x-accepts:
      - application/json
    put:
      description: Create or update bulk metadata
      operationId: putMidMetadata
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/putMidMetadata_request_inner'
              type: array
      responses:
        "204":
          description: The resource was updated successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - admin
      summary: Put Bulk metadata
      tags:
      - Merchant ID Metadata
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/mid/{mid}/metadata:
    get:
      description: Retrieve metadata for a Merchant Id.
      operationId: getMidMetadata
      parameters:
      - description: Mid
        explode: false
        in: path
        name: mid
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
      security:
      - OAuth2:
        - admin
      summary: Get MID Metadata
      tags:
      - Merchant ID Metadata
      x-accepts:
      - application/json
    put:
      description: Store metadata for a Merchant Id.
      operationId: postMidMetadata
      parameters:
      - description: Mid
        explode: false
        in: path
        name: mid
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postMidMetadata_201_response'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
      security:
      - OAuth2:
        - admin
      summary: Store MID Metadata
      tags:
      - Merchant ID Metadata
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/payouts/{payoutId}/proof:
    get:
      description: |
        Generate and download a proof of payout in .PDF format. See [Proof of Payout](/guide/transfers/proof-of-payout.html) for more information.
      operationId: getProofPayout
      parameters:
      - description: The unique identifier of the Payout.
        explode: false
        in: path
        name: payoutId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProofPayout_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Create Payout Proof
      tags:
      - Payouts
      x-accepts:
      - application/json
  /core-connect/card/bulk/{id}/report:
    get:
      description: |
        Get a link to download the bulk card creation report.

        The link expires after 5 minutes.
      operationId: getCardBulkReport
      parameters:
      - description: The unique identifier of the card bulk creation.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4b76d52b-72a5-4a18-a134-8e8e78d1284a
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCardBulkReport_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - admin
      summary: Get Report
      tags:
      - Cards Bulk Creation
      x-accepts:
      - application/json
  /core-connect/card/bulk:
    get:
      description: Search bulk card orders.
      operationId: getBulkCard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBulkCard_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - admin
      summary: Get Bulk Card Order
      tags:
      - Cards Bulk Creation
      x-accepts:
      - application/json
    post:
      description: |
        Create a Bulk Card order to create multiple cards at once.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: postBulkCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postBulkCard_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postBulkCard_201_response'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - admin
      summary: Create Bulk Card Order
      tags:
      - Cards Bulk Creation
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/operations/{walletId}/report:
    get:
      description: Retrieve an Operations Report based on the corresponding Wallet
        `id`.
      operationId: getOperationsReport
      parameters:
      - description: The unique identifier of the Wallet.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: |
          The date and time from which the operations are taken into account for the report.
          The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          example: 2024-06-05T00:00:00%2B02:00
          format: RFC 3339 date-time
          type: string
        style: form
      - description: |
          The date and time up to which the operations are taken into account for the report.
          The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          example: 2024-07-05T00:00:00%2B02:00
          format: RFC 3339 date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOperationsReport_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get Operations Report
      tags:
      - Operations
      x-accepts:
      - application/json
    post:
      description: Create a CSV export that includes all operations for a given Wallet
        on a given period.
      operationId: postOperationsReport
      parameters:
      - description: The unique identifier of the Wallet.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postOperationsReport_request'
      responses:
        "201":
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Create Operations Report
      tags:
      - Operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/merchantIdRestrictionGroups/{groupId}/mid/metadata:
    get:
      description: Retrieve all Merchant Ids with metadata.
      operationId: getAllMidMetadataBYyGroup
      parameters:
      - description: group Id
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: "Pagination cursor, if you don't pass a cursor, result will start\
          \ at the first page."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          example: da4b9237bacccdf19c0760cab7aec4a8359010b0
          type: string
        style: form
      - description: Number of results per page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllMidMetadataBYyGroup_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
      security:
      - OAuth2:
        - read_write
      summary: Get all MID with metadata
      tags:
      - Merchant ID Metadata
      x-accepts:
      - application/json
  /customization/templates:
    get:
      description: Retrieve the list of templates.
      operationId: getTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTemplates_200_response'
          description: OK
      security:
      - OAuth2:
        - admin
      summary: Get Available Templates
      tags:
      - API Templates
      x-accepts:
      - application/json
  /customization/templates/{templateName}:
    delete:
      description: Delete a Template.
      operationId: deleteTemplate
      parameters:
      - description: The name of the Template.
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - wallet.address_details
          - payout.proof_of_payout
          - wallet.statement
          - email.user.onboarding_confirmation_html
          - email.user.onboarding_confirmation_text
          - email.user.password_forgot_html
          - email.user.password_forgot_text
          example: wallet.statement
          type: string
        style: simple
      responses:
        "200":
          description: OK
      security:
      - OAuth2:
        - admin
      summary: Delete Template
      tags:
      - API Templates
      x-accepts:
      - application/json
    get:
      description: Retrieve the list of variables for the given template
      operationId: getTemplateVariables
      parameters:
      - description: The name of the Template.
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - wallet.address_details
          - payout.proof_of_payout
          - wallet.statement
          - email.user.onboarding_confirmation_html
          - email.user.onboarding_confirmation_text
          - email.user.password_forgot_html
          - email.user.password_forgot_text
          example: wallet.statement
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTemplateVariables_200_response'
          description: OK
      security:
      - OAuth2:
        - admin
      summary: Get Template Variables
      tags:
      - API Templates
      x-accepts:
      - application/json
  /customization/templates/{templateName}/template:
    get:
      description: Retrieve the currently configured template.
      operationId: getTemplate
      parameters:
      - description: The name of the Template.
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - wallet.address_details
          - payout.proof_of_payout
          - wallet.statement
          - email.user.onboarding_confirmation_html
          - email.user.onboarding_confirmation_text
          - email.user.password_forgot_html
          - email.user.password_forgot_text
          example: wallet.statement
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTemplate_200_response'
          description: OK
      security:
      - OAuth2:
        - admin
      summary: Get Template
      tags:
      - API Templates
      x-accepts:
      - application/json
    put:
      description: Upload a replacement for an existing Template.
      operationId: putTemplateUpload
      parameters:
      - description: The name of the Template.
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          example: wallet.statement
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putTemplateUpload_request'
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
      security:
      - OAuth2:
        - admin
      summary: Upload Template
      tags:
      - API Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /customization/templates/{templateName}/example:
    get:
      description: Test your template by building one with dummy values.
      operationId: getTemplateExample
      parameters:
      - description: The name of the Template.
        explode: false
        in: path
        name: templateName
        required: true
        schema:
          enum:
          - wallet.address_details
          - payout.proof_of_payout
          - wallet.statement
          - email.user.onboarding_confirmation_html
          - email.user.onboarding_confirmation_text
          - email.user.password_forgot_html
          - email.user.password_forgot_text
          example: wallet.statement
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTemplateExample_200_response'
          description: OK
      security:
      - OAuth2:
        - admin
      summary: Build Template Example
      tags:
      - API Templates
      x-accepts:
      - application/json
  /core-connect/users/{userId}/kyc/document:
    get:
      description: Retrieve all pre-review documents for given user
      operationId: getKYCDocuments
      parameters:
      - description: The unique identifier of the User.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getKYCDocuments_200_response_inner'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Search Pre-review Documents
      tags:
      - User Document Pre-review
      x-accepts:
      - application/json
    post:
      description: Generate a pre-signed form to upload documents for pre-review.
        Expires after 5 minutes.
      operationId: getPreSignedKycForm
      parameters:
      - description: The unique identifier of the User.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPreSignedKycForm_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPreSignedKycForm_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Create Upload Document Form
      tags:
      - User Document Pre-review
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/kyc/documents/{documentId}/status:
    put:
      description: Update the pre-review status and comment of the document.
      operationId: updateDocument
      parameters:
      - description: The unique identifier of the Document (UUID).
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          example: f47ac10b-58cc-4372-a567-0e02b2c3d479
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDocument_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateDocument_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - legal
      summary: Pre-review Document
      tags:
      - User Document Pre-review
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/kyc/documents/{documentId}:
    delete:
      description: Delete a pre-review document.
      operationId: deleteKYCDocumentcument
      parameters:
      - description: The unique identifier of the Document (UUID).
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          example: f47ac10b-58cc-4372-a567-0e02b2c3d479
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateDocument_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - legal
      summary: Delete Pre-review Document
      tags:
      - User Document Pre-review
      x-accepts:
      - application/json
  /core-connect/kyc/documents/need-review:
    get:
      description: |
        Retrieve all pre-review documents to review. This endpoint is for [Onboarded Users](/api-reference/api-endpoints.html#tag/User%20Onboarding) only.
      operationId: getKYCDocumentsToReview
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/updateDocument_200_response'
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - legal
      summary: Search Documents to pre-review
      tags:
      - User Document Pre-review
      x-accepts:
      - application/json
  /core-connect/kyc/documents/{documentId}/preview:
    get:
      description: Retrieve the pre-signed URL to download the pre-review document.
      operationId: getPresignedUrlDocument
      parameters:
      - description: The unique identifier of the Document (UUID).
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          example: f47ac10b-58cc-4372-a567-0e02b2c3d479
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPresignedUrlDocument_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get Download URL
      tags:
      - User Document Pre-review
      x-accepts:
      - application/json
  /core-connect/operations:
    get:
      description: |
        Retrieve Operations that match your search conditions. The request must specify at least: `walletId`, `dateTo`, `dateFrom`.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html) for operations that are more than 90 days old.
      operationId: getOperations
      parameters:
      - description: The unique identifier of the card.
        explode: true
        in: query
        name: cardId
        required: true
        schema:
          example: 12345
          format: int64
          type: integer
        style: form
      - description: The unique identifier of the Wallet.
        explode: true
        in: query
        name: walletId
        required: true
        schema:
          example: 12345
          format: int64
          type: integer
        style: form
      - description: |
          The start of the period to take into account operations in RFC 339 date-time format (HTML encoded).
          The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          example: 2025-04-18T11:00:00%2B01:00
          format: RFC 3339 date-time
          type: string
        style: form
      - description: |
          The end of the period to take into account operations in RFC 339 date-time format (HTML encoded).
          The dates are to be html encoded (e.g., 2024-01-11T11:25:36+01:00 becomes `2024-01-11T11:25:36%2B01:00`)
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          example: 2025-04-18T11:00:00%2B01:00
          format: RFC 3339 date-time
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 15
          format: int64
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "The type of operation. Can't be cumulated with other query parameters.\
          \ \n\nBy default, Treezor returns all operation types when this field isn't\
          \ defined.\n"
        explode: true
        in: query
        name: operationType
        required: false
        schema:
          enum:
          - bankDirectDebit
          - bankTransfer
          - cardTopup
          - cardTransaction
          - check
          - creditNote
          - fees
          - intBankTransfer
          - instantBankTransfer
          - other
          - payinRefund
          - payoutRefund
          - transferRefund
          - walletTransfer
          type: string
        style: form
      - description: |
          Pagination cursor, if you don't pass a cursor, result will start at the first page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          example: da4b9237bacccdf19c0760cab7aec4a8359010b0
          type: string
        style: form
      - description: Technical context about the initial operation. Can't be cumulated
          with other query parameters.
        explode: true
        in: query
        name: initialFlow
        required: false
        schema:
          items:
            enum:
            - cardTransaction
            - chargeback
            - payin
            - payinRefund
            - payout
            - payoutRefund
            - transfer
            type: string
          nullable: true
          type: array
        style: form
      - description: Direction of the operation.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - CREDIT
          - DEBIT
          nullable: true
          type: string
        style: form
      - description: The minimum amount of the operations to take into account.
        explode: true
        in: query
        name: amountFrom
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - description: The maximum amount of the operations to take into account.
        explode: true
        in: query
        name: amountTo
        required: false
        schema:
          type: string
        style: form
      - description: The status of the operation.
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - AUTHORIZED
            - CANCELED
            - DECLINED
            - SETTLED
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOperations_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Search Operations
      tags:
      - Operations
      x-accepts:
      - application/json
  /core-connect/sca/scawallets:
    get:
      description: "Retrieve the list of [SCA Wallets](/guide/strong-customer-authentication/introduction.html#sca-wallet-object)\
        \ for a given user."
      operationId: getSCAWallets
      parameters:
      - description: The unique identifier of the user.
        explode: true
        in: query
        name: userId
        required: true
        schema:
          example: "123456"
          type: string
        style: form
      - description: "Pagination cursor, if you don't pass a cursor, result will start\
          \ at the first page."
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          example: da4b9237bacccdf19c0760cab7aec4a8359010b0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: The list of wallet was successfully retrieved.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
      summary: Search SCA Wallets
      tags:
      - SCA
      x-accepts:
      - application/json
    post:
      description: "Create a new [SCA Wallet](/guide/strong-customer-authentication/introduction.html#sca-wallet-object)\
        \ manually."
      operationId: postScaWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postScaWallet_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: The wallet was successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Forbidden
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Create SCA Wallet
      tags:
      - SCA
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/sca/scawallets/swap:
    post:
      description: Create an SCA Wallet while deleting the previous one as users should
        have only one device enrolled.
      operationId: swapSCAWallets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/swapSCAWallets_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: The list of wallet was successfully retrieved.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Swap SCA Wallets
      tags:
      - SCA
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/sca/scawallets/{scaWalletId}:
    delete:
      description: Permanently delete an SCA Wallet.
      operationId: deleteScaWallet
      parameters:
      - description: The unique identifier of the SCA Wallet.
        explode: false
        in: path
        name: scaWalletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: The wallet was successfully deleted.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Delete SCA Wallet
      tags:
      - SCA
      x-accepts:
      - application/json
    get:
      description: Retrieve an SCA Wallet by providing its `id`.
      operationId: getScaWallet
      parameters:
      - description: The unique identifier of the SCA Wallet.
        explode: false
        in: path
        name: scaWalletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: The wallet was successfully retrieved.
        "404":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: The wallet was not found.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
      summary: Get SCA Wallet
      tags:
      - SCA
      x-accepts:
      - application/json
  /core-connect/sca/scawallets/{scaWalletId}/lock:
    put:
      description: |
        Locks an SCA Wallet so that none of the services it offers can be unlocked until it is unlocked.
      operationId: putScaWallet
      parameters:
      - description: The unique identifier of the SCA Wallet.
        explode: false
        in: path
        name: scaWalletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putScaWallet_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: The wallet is locked.
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: The lock reason field is required.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Lock SCA Wallet
      tags:
      - SCA
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/sca/scawallets/{scaWalletId}/unlock:
    put:
      description: Unlock an SCA Wallet.
      operationId: unlockScaWallet
      parameters:
      - description: The unique identifier of the SCA Wallet.
        explode: false
        in: path
        name: scaWalletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: The wallet is unlocked.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Unlock SCA Wallet
      tags:
      - SCA
      x-accepts:
      - application/json
  /core-connect/sca/scawallets/{scaWalletId}/resetPin:
    put:
      description: |
        Reset the PIN code of an SCA Wallet if the user has locked their Wallet after too many consecutive wrong PIN attempts. See [Reset PIN (Mobile)](/guide/strong-customer-authentication/sca-wallet-lifecycle.html#reset-pin-mobile) for more information.

        Once the PIN reset, the Customer can set a new PIN via the mobile application.
      operationId: resetScaWalletPin
      parameters:
      - description: The unique identifier of the SCA Wallet.
        explode: false
        in: path
        name: scaWalletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaWalletObject'
          description: PIN has been reset.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - legal
      summary: Reset PIN
      tags:
      - SCA
      x-accepts:
      - application/json
  /core-connect/sca/setPasscode:
    put:
      description: |
        Change the passcode ([Web Native SCA](/guide/strong-customer-authentication/introduction.html#web-native)).
      operationId: setPasscode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setPasscode_request'
      responses:
        "204":
          description: Accepted
      security:
      - OAuth2:
        - read_write
      summary: Change Passcode
      tags:
      - SCA
      x-content-type: application/json
      x-accepts:
      - application/json
  /simulation/scaProof:
    post:
      description: "Create an `scaProof` for testing SCA authentication flows without\
        \ a dedicated frontend. Use the `scaProof` to secure end user flow with a\
        \ `delegated_end_user` JWT in `sandbox`. \n\nSee the [Simulate SCA Proof](/guide/strong-customer-authentication/faking-operations.html#simulate-sca-proof)\
        \ article for more information.\n"
      operationId: postScaProof
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postScaProof_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postScaProof_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - admin
      summary: Simulate SCA Proof
      tags:
      - SCA Proof Simulation
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/sca/externalOperations:
    post:
      description: "Declare an SCA External Operation (i.e., a sensitive action that\
        \ was made outside of Treezor services)."
      operationId: postExtOperation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postExtOperation_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postExtOperation_200_response'
          description: The External Operation was successfully created.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Create External Operation declaration
      tags:
      - SCA External Operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/sca/externalOperations/{externalOperationId}:
    put:
      description: "Modify an SCA External Operation declaration. \n\nThis feature\
        \ is only available for Per Operation operations, in other words for external\
        \ operations whose action name is: `externalMassPayoutOrderCreation`, \n`externalMassTransferOrderCreation`,\
        \ `externalScheduledPayoutOrder`, or `externalScheduledTransferOrder`.\n"
      operationId: putExtOperation
      parameters:
      - description: The unique identifier (uiid) of the ExternalOperation.
        explode: false
        in: path
        name: externalOperationId
        required: true
        schema:
          example: f47ac10b-58cc-4372-a567-0e02b2c3d479
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putExtOperation_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postExtOperation_200_response'
          description: The External Operation was successfully updated.
        default:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/getSCAWallets_default_response_inner'
                type: array
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Update External Operation declaration
      tags:
      - SCA External Operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /core-connect/statements/{walletId}/raw:
    get:
      description: |
        Retrieve the raw data (json) to build a Wallet account statement.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: getRawStatement
      parameters:
      - description: The unique identifier of the Wallet.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      - description: "The month of the statement (2 digits, e.g., `02`)"
        explode: true
        in: query
        name: month
        required: true
        schema:
          example: 2
          type: integer
        style: form
      - description: "The year of the statement (4 digits, e.g., `2025`)"
        explode: true
        in: query
        name: year
        required: true
        schema:
          example: 2025
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRawStatement_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get JSON Account Statement
      tags:
      - Account Statements
      x-accepts:
      - application/json
  /core-connect/statements/{walletId}/computed:
    get:
      description: |
        Retrieve a Wallet account statement in pdf format.

        This endpoint requires per-session [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: getPdfAccountStatement
      parameters:
      - description: The unique identifier of the Wallet.
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      - description: The month of the statement (2 digits leading with `0`)
        explode: true
        in: query
        name: month
        required: true
        schema:
          type: integer
        style: form
      - description: "The year of the statement (4 digits, e.g., `2022`)"
        explode: true
        in: query
        name: year
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPdfAccountStatement_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get PDF Account Statement
      tags:
      - Account Statements
      x-accepts:
      - application/json
  /v1/balances:
    get:
      description: Retrieve Balances for a given `walletId` or `userId`.
      operationId: getBalances
      parameters:
      - description: |
          A unique identifier used to enforce [Idempotency](/guide/api-basics/idempotency.html).
        explode: true
        in: query
        name: accessTag
        required: false
        schema:
          maxLength: 250
          type: string
        style: form
      - description: The unique identifier of the Wallet whose Balance is to be retrieved.
        explode: true
        in: query
        name: walletId
        required: false
        schema:
          example: 12345
          type: integer
        style: form
      - description: The unique identifier of the User whose Wallet Balances are to
          be retrieved.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          example: 12345
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBalances_200_response'
          description: OK
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Method Not Allowed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Search Balances
      tags:
      - Balances
      x-accepts:
      - application/json
  /v1/beneficiaries:
    get:
      description: Retrieve Beneficiary bank accounts that match search criteria.
      operationId: getBeneficiaries
      parameters:
      - description: |
          A unique identifier used to enforce [Idempotency](/guide/api-basics/idempotency.html).
        explode: true
        in: query
        name: accessTag
        required: false
        schema:
          maxLength: 250
          type: string
        style: form
      - description: "List of the object properties to be returned, allowing you to\
          \ filter the response payload."
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          You can filter the API response by using filter(s).

          Filterable fields are:
           - id
           - tag
           - userId
           - isActive (1 for yes, 0 for no)
           - nickName
           - address
           - iban (encrypted IBAN)
           - IbanInClear
           - bic
           - sepaCreditorIdentifier
           - usableForSct
           - createdDate
           - modifiedDate

          Filters should be separated by a ";". Example for 3 filters:
          FILTER1;FILTER2;FILTER3.

          A single filter has the following syntax : "fieldName criterion expression".

          Where:
           - fieldName: the name of a filterable field of this object.
           - expression: the values to be included or excluded (see the table below for more information)
           - criterion: a filter criterion.

          Here are the possible values for criterion:

           | Criteria |         Description    |                   Type                   | Expression Example |
           |----------|------------------------|------------------------------------------|--------------------|
           |     >    |      greater than      |            alphanumeric string           |         100        |
           |    >=    | greater or equal than  |            alphanumeric string           |         100        |
           |     <    |        less than       |            alphanumeric string           |         100        |
           |    <=    |   less or equal than   |            alphanumeric string           |         100        |
           |    !=    |      not equal to      |            alphanumeric string           |         100        |
           |   like   |          like          |            alphanumeric string           |         100        |
           |    in    |           in           | alphanumeric strings separated by commas |      100,30,25     |
           |    ==    |         equals         |            alphanumeric string           |         100        |
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The unique identifier of the Beneficiary.
        explode: true
        in: query
        name: id
        required: false
        schema:
          example: 12345
          type: integer
        style: form
      - description: "The page number, only available on /v1/ endpoints \n"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: "The number of items per page, only available on /v1/ endpoints\
          \  \n"
        explode: true
        in: query
        name: pageCount
        required: false
        schema:
          type: integer
        style: form
      - description: |
          The transaction element you want to sort the list with.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: creationDate
          type: string
        style: form
      - description: |
          The order you want to sort the list.
          * **DESC** for descending.
          * **ASC** for ascending.
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryObject'
          description: OK
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Method Not Allowed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
        - read_only
      summary: Search Beneficiaries
      tags:
      - Beneficiaries
      x-accepts:
      - application/json
    post:
      description: |
        Create a new benefeciary bank account. This endpoint requires per-operation [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: postBeneficiary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postBeneficiary_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryObject'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Create Beneficiary
      tags:
      - Beneficiaries
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/beneficiaries/{beneficiaryId}:
    get:
      description: Retrieve a Beneficiary bank account based on its `id`.
      operationId: getBeneficiary
      parameters:
      - description: The unique identifier of the Beneficiary.
        explode: false
        in: path
        name: beneficiaryId
        required: true
        schema:
          example: 12345
          format: int64
          type: integer
        style: simple
      - description: "List of the object properties to be returned, allowing you to\
          \ filter the response payload."
        explode: false
        in: query
        name: fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryObject'
          description: OK
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Method Not Allowed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_only
        - read_write
      summary: Get Beneficiary
      tags:
      - Beneficiaries
      x-accepts:
      - application/json
    put:
      description: |
        Modify a benefeciary bank account information.

        This endpoint requires per-operation [SCA](/guide/strong-customer-authentication/introduction.html).
      operationId: putBeneficiary
      parameters:
      - description: The unique identifier of the Beneficiary.
        explode: false
        in: path
        name: beneficiaryId
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putBeneficiary_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryObject'
          description: OK
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Method Not Allowed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
          description: Unexpected error
      security:
      - OAuth2:
        - read_write
      summary: Update Beneficiary
      tags:
      - Beneficiaries
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/businesssearchs:
    get:
      description: |
        Check information regarding a legal entity.
      operationId: searchBusiness
      parameters:
      - description: |
          A unique identifier used to enforce [Idempotency](/guide/api-basics/idempotency.html).
        explode: true
        in: query
        name: accessTag
        required: false
        schema:
          maxLength: 250
          type: string
        style: form
      - description: |
          In which country to search. Format: [ISO 3166-1 alpha-2](/guide/api-basics/data-format.html#countries)
        example: FR
        explode: true
        in: query
        name: country
        required: true
        schema:
          format: ISO 3166-1 alpha-2
          type: string
        style: form
      - description: |
          Business exact name. Exclusive with `nameMatchBeginning` and `nameClosestKeywords`.
        explode: true
        in: query
        name: nameExact
        required: false
        schema:
          type: string
        style: form
      - description: |
          Business names begin with. Exclusive with `nameExact` and `nameClosestKeywords`.
        explode: true
        in: query
        name: nameMatchBeginning
        required: false
        schema:
          type: string
        style: form
      - description: |
          Business names closed to keywords. Exclusive with `nameExact` and `nameMatchBeginning`.
        explode: true
        in: query
        name: nameClosestKeywords
        required: false
        schema:
          type: string
        style: form
      - description: |
          Business registration number. Required if the `vatNumber` isn't provided.
        explode: true
        in: query
        name: registrationNumber
        required: false
        schema:
          type: string
        style: form
      - description: |
          Business VAT number. Required if the `registrationNumber` isn't provided.
        explode: true
        in: query
        name: vatNumber
        required: false
        schema:
          type: string
        style: form
      - description: Business phone number.
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: Business' street address.
        explode: true
        in: query
        name: addressStreet
        required: false
        schema:
          type: string
        style: form
      - description: Business' city address.
        explode: true
        in: query
        name: addressCity
        required: false
        schema:
          type: string
        style: form
      - description: Business' postal code address.
        explode: true
        in: query
        name: addressPostalCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/searchBusiness_200_response_inner'
                type: array
          description: OK
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/searchBusiness_default_response'
          description: Unexpected error
      security:
      - OAuth2:
[...]
